.conntect_main {
  background-color: #fff;
  color: var(--gray-900);
  text-align: center;
  padding: 2rem 2rem;
  margin: 0 auto;
  border: 5px solid var(--primary-600);
  border-right: none;
  border-left: none;
}

.conntect_main h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--primary-600);
}

.conntect_main p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: var(--gray-700);
}

.conntect_main button {
  background-color: var(--secondary-500);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.conntect_main button:hover {
  background-color: var(--secondary-600);
}
